body{
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    background: #f5f5f5;
}
#buscar{
    width: 100%;
    max-width: 95%;
    padding: 8px;
    margin: 20px;
    display: block;
}
.grid{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;

}
.card{
    background: rgba(228, 222, 222, 0.719);
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: tranform 0.3s ease

}
.card:hover{
    transform: translateY(-5px);
}
.card img{
    width: 100%;
    height: 150px;
    border-radius: 6px;

}
.detallee{
    background:rgba(228, 222, 222, 0.719);
    padding: 20px;
    border-radius: 8px;
    margin: 40px auto;
    display: grid;
    gap:40px;
    grid-template-columns: 1fr 1fr;
    
}
.detallee img{
    width: 420px;
    margin-left: 100px;
    margin-right: auto;
    

}
.comentario{
    border-top: 1px solid #ccc;
    padding: 10px 0;
}
